html, body {
  font-family: avenir;
  background-image: url('geometry2.png');
}
.item { stroke: #000; }
.line { stroke-width: 1; stroke: gray; }
.flex { display: flex; flex-wrap: wrap; }
.flex-1 { flex: 1; }
.top-right-container { position: relative; }
.top-right { position: absolute; top: 10px; right: 10px; }
.border-black { border: 1px solid #000; }
.full-width { width: 100%; }
.container { width: 85%; margin: 0 auto; }
.pad2 { padding: 20px; }
.mb2 { margin-bottom: 20px; }
.sm { font-size: 10px; }
.anchor-middle { text-anchor: middle; }
.underline { text-decoration: underline; }
.clickable { cursor: pointer; }
.hover-red:hover { color: red; }

/**
 * color changing text
 */
.funk {
  -webkit-animation: color-change 4s infinite;
  -moz-animation: color-change 4s infinite;
  -o-animation: color-change 4s infinite;
  -ms-animation: color-change 4s infinite;
  animation: color-change 4s infinite;
}
@-webkit-keyframes color-change {
    0% { color: green; }
    50% { color: gold; }
    100% { color: green; }
}
@-moz-keyframes color-change {
    0% { color: green; }
    50% { color: gold; }
    100% { color: green; }
}
@-ms-keyframes color-change {
    0% { color: green; }
    50% { color: gold; }
    100% { color: green; }
}
@-o-keyframes color-change {
    0% { color: green; }
    50% { color: gold; }
    100% { color: green; }
}
@keyframes color-change {
    0% { color: red; }
    15% { color: orange; }
    30% { color: gold; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: indigo; }
    90% { color: violet; }
    100% { color: red; }
}
