html, body, input, select {
  margin: 0;
  padding: 0;
  font-family: avenir;
}

div { display: block; }

.pl3 { padding-left: 30px; }
.drop-shadow { box-shadow: 1px 1px 15px #888888; }
.drop-shadow:hover { box-shadow: 5px 5px 10px #888888; }
.bold { font-weight: bold; }
.center { text-align: center; }
.bg-black { background-color: #000; }
.med { font-size: 4em; }
.sm { font-size: 10px; }
.item { stroke: #000; }
.line { stroke-width: 1; stroke: gray; }
.flex { display: flex; flex-wrap: wrap; }
.flex1 { flex: 1; }
.top-right-container { position: relative; }
.top-right { position: absolute; top: 10px; right: 10px; }
.border-black { border: 1px solid #000; }
.border-blue { border: 1px solid #71c1fd; }
.hover-border-blue:hover { border: 1px solid #71c1fd; }
.hover-bg-blue:hover { background-color: rgba(113,193,253,0.5); }
.bg-blue { background-color: #71c1fd; }
.border-bottom-blue { border-bottom: 1px solid #71c1fd; }
.border-rounded { border-radius: 10px; }
.full-width { width: 100%; }
.container { width: 85%; margin: 0 auto; }
.pad1 { padding: 10px; }
.pad2 { padding: 20px; }
.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb4 { margin-bottom: 30px; }
.mr2 { margin-right: 20px; }
.ml2 { margin-left: 20px; }
.mt0 { margin-top: 0px; }
.mt1 { margin-top: 10px; }
.mt2 { margin-top: 20px; }
.anchor-middle { text-anchor: middle; }
.underline { text-decoration: underline; }
.clickable { cursor: pointer; }
.hover-red:hover { color: red; }
input[type=radio] { margin-right: 1em; }
.list > li { list-style: none; }
.list > li:before { content: '– '; margin-left: -20px; }

.masonry-container { width: 100%; }
.masonry-ul {
  list-style: none;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  padding-start: 0px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  width: 100%;
}
@media (min-width: 1260px) {
  .masonry-container { width: 500px; }
  .masonry-ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 1259px) {
  .masonry-container { right: 0; }
  .masonry-ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (max-width: 995px) {
  .masonry-ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 725px) {
  .masonry-ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 475px) {
  .masonry-ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

