{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "d3": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": [0],
    "quotes": [2, "single"],
    "curly": [0],
    "no-use-before-define": [0]
  }
}
